<a href="https://colab.research.google.com/github/maruf178/docker-colab-local/blob/master/Copy_of_Python_A_To_Z_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**<center>Learn Python Using Colab**

---

# **Display Your Message**



```
print('your message')
```

In [ ]:
print("hello world")

# **1.Comments**



```
# Your comments
```

In [ ]:
#in python comment line start with hash(#).Comment not show in output.

**Multi Line Comments**

In [ ]:
#You can also use multiline comment using multiple hash tag
# Comments can be used to explain Python code or remember the code next time

In [ ]:
'''
If you need huge line to  make a comment you can 
use string in without creatig veriable
*remember that you must have another output 
'''
print('Comment not showing in output')

# **2.Variable**

<h1><center>Rules for creating variables in Python:</h1>

1.A variable name must start with a letter or the underscore character.

2.A variable name cannot start with a number.

3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

4.Variable names are case-sensitive (name, Name and NAME are three different variables).

5.The reserved words(keywords) cannot be used naming the variable.



#<center>Legal variable name

MyName = "maruf"

my_name = "maruf"

_my_name = "maruf"

myName = "maruf"

MYNAME = "maruf"

myname2 = "maruf"

myNameIs = "maruf"     

MyNameIs = "maruf"    

my_Name_is = "maruf"

#<center>Ilegal variable name

2myname = "maruf"    

my-name = "maruf"

my name = "maruf"

**Case-Sensitive**

*   Upper case & Lower case variale are not same

In [ ]:
a = 25
A = 50

print(a)
print(A)



**python only show last output in same variable**

In [ ]:
x = 485
x = "Sally" 
print(x)



*   **single Variale**

In [ ]:
a="maruf"
print(a)



*  **Multiple Variable**

In [ ]:
x = 5
y = "John"
print(x)
print(y)



* **Multiple Variable to one value**

In [ ]:
a=b=c= 'hello'
print(a)
print(b)
print(c)



* **Multiple variable and Multiple value**

In [ ]:
a,b,c = 34,"hello",33.35

print(a)
print(b)
print(c)

In [ ]:
a,b,c = 34,"hello",33.35

print(a,b,c)



* **Unpack a list**

In [ ]:
x = [73,"hello",457.4587]
a,b,c= x
print(a)
print(b)
print(c)



*   **Output Variables**

In [ ]:
a = 'My age is '
b = "21"          #Dont combine string & number

print(a+b)

In [ ]:
a = 'My age is '
     
print(a+"21")      #Dont combine string & number

In [ ]:
a = 'My age is '
b = "21"          #Dont combine string & number
c = a+b
print(c)



*   **Multiplication & line break**

In [ ]:
a = "i am maruf \n "
print(a*5)



*   **Global variable**

In [ ]:
x = "awesome"
y = "suck ðŸ˜œ"
def Joking():
  print("Python is "+x)
  print("JS is "+y )

Joking()

# **Data Type**

x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

**Get the data Type**

In [ ]:

a = 376
b = 387.786
c = "welcome"
d = 1j
e = 838e35
f = 34+3j
g= ("Mark", "Ron", "Peter", "Greg")
h = range(6) 

print(type(a))
print(type(b))
print(type(c))
print(type(d))    
print(type(e))
print(type(f))
print(type(g))
print(type(h))

In [ ]:
a = type(376)
b = type(387.786)
c = type("welcome")
d = type(1j)
e = type(838e35)
f = type(34+3j)
g= ("Mark", "Ron", "Peter", "Greg")
x =type(g)
h = range(6) 
y = type(h)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(x)
print(y)

**Convert data type**

In [ ]:

a=str(64892369.42)
print(a)

print(float(63))

b = int(43.348)
print(b)

c = complex(79357)
print(c)

# **<center>String**

**Multiline Strings**

In [ ]:

a = """ 1.hi i'm maruf, writting python
in colab. """

print(a)

In [ ]:
print(""" 
2. hi i'm maruf, writting python code 
in colab. """)

**String Indexing**

In [ ]:

a='abcd efgh'

print("Element at 1st position:",a[0])
print("Element at last position:",a[-1])
print("Element at 2nd last position:",a[-2])
print("Element at 4th position:",a[3])

**String Slicing**



```
 a[sart:stop:skip]
```

In [ ]:

a='abcd efgh'

b=a[::3]
c=a[::-2]
d=a[::2]
e=a[4:]
f=a[:2]

print(a[0:3])
print(a[0:4:2])
print("String with alternate letters:",b)
print("String in reverse:",c)
print("String in reverse with alternate letters:",d)
print("String starting from 4th letter:",e)
print("String upto 4th letter:",e)

**Leanth**

In [ ]:
a=' Assalamualaikum Rafi'

b=len(a)
print("Leanth:- ",b)

**Upper Case**

In [ ]:

a=' Assalamualaikum Rafi'

c=a.upper()
print("Upper Case :- ",c)

**Lower Case**

In [ ]:
a=' Assalamualaikum Rafi'

d=a.lower()
print("Lower Case:- ",d)

**SWap Case**

In [ ]:
a=' Assalamualaikum Rafi'
 
e=a.swapcase()
print("SWap Case  :- ",e)

**Chack Alphabet**

In [ ]:
a=' Assalamualaikum Rafi'

f=a.isalpha()
print(f)

**Check Number**

In [ ]:
a=' Assalamualaikum Rafi'

g=a.isalnum()
print("Check Number :- ",g)

**Check Digit**

In [ ]:
a=' Assalamualaikum Rafi'

h=a.isdigit()
print("Check Digit:- ",h)

**Replace**

In [ ]:
a=' Assalamualaikum Rafi'

i=a.replace("Assalamualaikum","walaikumassalam")
print("Replace  :- ",i)

**Index**

In [ ]:
a=' Assalamualaikum Rafi'

j=a.index('sa')
print("index  :- ",j)

**Remove space**

In [ ]:
a='                                      Assalamualaikum Rafi'

k=a.strip()
print("Remove space:- ",k)

**Separate**

In [ ]:
a=' Assalamualaikum Rafi'

l=a.split()
print("Separate :- ",l)

**Check String**

In [ ]:
a=' Assalamualaikum Rafi'

print("Rafi" in a)

In [ ]:
print("Rafi" in a)

In [ ]:
if "Rafi" in a:
  print("Yes")

**Looping Through a String**

In [ ]:
for a in "Python":
  print(a)

**String Format**

In [ ]:

print("My name is {}".format("maruf"))

In [ ]:
name = "maruf"
Start = 'my name is {}'
print(Start.format(name))

In [ ]:
print( "Go for {0} and buy {1} pizza for {2} tk".format('Jannat store', 1, 90))

In [ ]:
tk = 45
number = 9
shop = 'Rohim store'
Order =  "Go for {0} and buy {1} pens for {2} tk"
print(Order.format(shop, number, tk))

**Escape Character**

In [ ]:
print("Hay it's Maruf.")   # Normal

In [ ]:
print("it'\s Maruf.who are you?")  # Single Quote

In [ ]:
print("This is an \"escape\" of a double-quote")

In [ ]:
print("Hay it's \\\ Maruf.")  #	Double Backslash  (\\)

In [ ]:
print("Hay it's \\ Maruf.")  #	Backslash  (\\)

In [ ]:
print("it's Maruf\n who are you?")   #	New Line / Line break (\n)

In [ ]:
print("it's Maruf \r who are you?")   #	Carriage Return (\r)

In [ ]:
print("it's Maruf\twho are you?")  #	Tab (\t)

In [ ]:
print("it's Maruf \b who are you?")   #	Carriage Return (\b)

In [ ]:
print("it's Maruf \f who are you?")   #Form Feed (\f)

In [ ]:
#A backslash followed by an 'x' and a hex number represents a hex value:
print("")          #Octal value (\ooo)

In [ ]:
#A backslash followed by three integers will result in a octal value:
print("\110\145\154\154\157")  #	Hex value (\xhh)

# **<center>Booleans**

In [ ]:
print(343 > 235)
print(35 == 35)
print(3532525 < 9353)

In [ ]:
a=6
b=8
print(a<19 and b<10)
print(a<19 or b<10)
print(not(a<19 and b<10))  # Revarse output

In [ ]:
print(isinstance("3598", int))

In [ ]:
print(bool(12))
print(bool("It's string"))
print(bool(0))
print(bool(""))

# **<center>Python Operators**

**Python Operators**

In [ ]:
a = 1000
b = 100

	#Addition
print("Addition of a & b =", a+b)

#	Subtraction
print("Subtraction of a & b = ", a-b)

#Multiplication
print("Multiplication of a & b =", a*b)

#	Division
print("Division of a & b =", a/b)

#Modulus
print("Modulus of a & b =", a%b)

#	Exponentiation
print("Exponentiation of a & b =", a**b)

#	Floor division
print("Floor division of a & b =", a//b)

**Python Assignment Operators**

In [ ]:
a = b = c = d = e = f = g = 6
a += 3
b -= 3
c *= 3
e /= 3
f %= 3
g //= 3
h **= 3

print("a+=3 same as a=a+3 =", a)
print("b-=3 same as b=b+3 =", b)
print("c*=3 same as c=c*3 =", c)
print("d*=3 same as d=d*3= ", d)
print("e/=3 same as e=e/3 =", e)
print("f%=3 same as f=f%3 =", f)
print("g//=3 same as g=g//3 =", g)

**Python Bitwise Operators**

In [ ]:
a = 10
b = 4
 
# Print bitwise AND operation
print("a & b =", a & b)
 
# Print bitwise OR operation
print("a | b =", a | b)
 
# Print bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)


a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)
 
a = 5
b = -10
 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

**Python Comparison Operators**

In [ ]:
a=6
b=8
print(a!=b)
print(a>=b)
print(a<=b)
print(a==b)
print(a>b)
print(a<b)
print(a==b)

**Python Logical Operators**

In [ ]:
a=6
b=8
print(a<19 and b<10)   # if both statements are true , then its returns true
print(a<19 or b<1)     # if one statement are true , then its returns true
print(not(a<19 and b<10)) # Not use as reverse boolians

**Python Identity Operators**

In [ ]:
a = 4
b = 4

print(a is b)
print(b is a)
print(a==b)

In [ ]:
a = 4
b = 5

print(a is not b)
print(b is not a)
print(a!=b)

**Membership Operators**

In [ ]:
Myself = "maruf is a good boy"
print("maruf" in Myself)    # maruf avilable in variable

In [ ]:
Myself = "maruf is a good boy"
print("sohag" in Myself)    # Sohag not avilable in variable

#**<center>Lists**

In [ ]:
list = ["notebook", "book", "pen"]
print(list)

**Indexing**

In [ ]:
l1=[5,8.5,"maruf"]


print(l1)
print(l1[1])
print(l1[-1])
print(l1[0:2])

**Check if Item Exists**

In [ ]:
l1=[5,8.5,"maruf"]
if "maruf" in l1:
  print("Yeah, avilable")